<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/responsive.css">
  <script src="../js/jquery.min.js"></script>
  <script src="../js/jquery.spincrement.min.js"></script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <title>Title</title>
</head>
<body>
    <div class="menu-responsive">
        <div class="menu-responsive-content">
            <div class="menu-responsive-header">MENU</div>
            <ul class="menu-responsive-list">
                <li class="menu-responsive-item">Популярні тури</li>
                <li class="menu-responsive-item">Про компанію</li>
                <li class="menu-responsive-item">Відгуки</li>
                <li class="menu-responsive-item">Контакти</li>
                <li class="menu-responsive-item">Країни</li>
                <li class="menu-responsive-item">Особистий кабінет</li>
            </ul>
        </div>
    </div>
</body>
</html>